extends layout
block content
  div.container 
      button#enable.btn.btn-danger.pull-right تمكــين / تعطـــيل
        span.glyphicon.glyphicon-trash
      .col-lg-1
      a.btn.btn-primary.pull-left(type="button", href="/order/showOrder") رجـــــوع
      p
    div.container 
      div.form-group 
        table#user.table.table-bordered.table-striped(style='clear: both')
          tbody
            tr
              td(width='35%') مــوظف المخازن
              td(width='65%')
                a#name2(href='#', data-type='select', data-pk='#{edit[0].idorder}', data-title='اسم المدير' data-value='#{edit[0].emm}') #{edit[0].emm}
            tr
              td(width='35%') طلب الموظف 
              td(width='65%')

                a#name(href='#', data-type='select',name="name" data-pk='#{edit[0].idorder}', data-title='اسم الموظف' data-value='#{edit[0].name}') #{edit[0].name}   
            tr
              td(width='35%') الوصف
              td(width='65%')
                a#te(href='#', data-type='text',name="te" data-pk='#{edit[0].idorder}', data-title='اسم الموظف' data-value='#{edit[0].discription}') #{edit[0].discription}        
            
          
                //- a#mobail(href='#', data-type='text', data-pk='#{edit[0].idorder}', data-title='اسم المدير' data-value='#{edit[0].dep}') #{edit[0].dep}    
    #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
          .modal-dialog
            .modal-content
              .modal-headr.modal-header-danger
                 p.h1 هل أنت متأكد من  الحدف ؟
              .modal-footer
                button#offdelete.btn.btn-danger(type='button',data-dismiss='modal') حذف
                button.btn.btn-success(data-dismiss='modal', type='button') إلغاء
    // Placed at the end of the document so the pages load faster
  script(src='/javascripts/jquery-1.11.1.min.js')    
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/bootstrap-editable.min.js')
  script(src='/javascripts/editOrder.js')
