extends layout
block content
  .row-md-12    
    .col-md-11
      .col-md-offset-1     
        .panel.panel-warning
          // Default panel contents
          .panel-heading
            h3 ألـموظـفـيـن

            .panel-body
                table.table
                  thead
                    th أسم الموظف 
                    th البريد الاكتروني
                    th أسم المستخدم
                    th الرقم السري
                    th رقم الهاتف
                    th الصﻻحية
                    th القسم
                    th
                    th
                  tbody                 
                    for e in emp
                      tr
                        td #{e.empname}
                        td #{e.email}
                        td #{e.username}
                        td #{e.password}
                        td #{e.phoneNumber}    
                        if e.level == 1
                          td  root
                        else if e.level == 2
                          td admin
                        else if e.level == 3
                          td user    

                        td #{e.dname}
                        td
                          a#viw.btn.btn-primary.btn-xs(href="/employee/editEmployee/#{e.idemployee}") 
                            span.glyphicon.glyphicon-floppy-saved
                        td
                           button#dlte.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{e.idemployee}")
                            span.glyphicon.glyphicon-trash 
              #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
                .modal-dialog
                  .modal-content
                    .modal-headr.modal-header-danger
                      p.h1 هل أنت متأكد من  حدف ؟
                    .modal-body
                      p.h2 هل انت متأكد 
                      p 
                    .modal-footer
                      button#confdlte.btn.btn-danger(type='button',data-dismiss='modal') حدف
                      button.btn.btn-success(data-dismiss='modal', type='button') إلغاء              
  script(src='/javascripts/jquery-1.11.1.min.js')    
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/Employee.js')
       //script(src="/javascripts/phone.js")
