extends layout
block content 
  div.container
    div.header
      ul.nav.nav-pills.pull-right
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/22.png")

  .row
    .col-xs-10.col-xs-offset-1
      a.btn.btn-primary.pull-left(type="button", href="/root") رجـــــوع
      div.panel.panel-default.form-signin 
        div.panel-heading.text-right
          h1.panel-title إضــافة طلب
        div.panel-body
            .col-xs-3.col-xs-3.col-xs-3
              a.btn.btn-success(href='#addorder', role='button', data-toggle='modal')
                | إضافة طلبيات جديد
          p
              table.table.table-condensed
                tr
                    th(width='5%')  رقم الطلبية
                    th  موظف المخازن
                    //- td قسم الموظف
                    th طلب الموظف
                    th   قسم الموظف 
                    th تاريخ الطلبية
               
                    th سلعة 
                    th تعديل
                    th عرض 
                    th إرجاع/الغاء
                for or,num in info1 
                  tr
                    td #{or.idorder}                  
                    td #{or.emm}
                    //- td #{info2[num].dee}
                    td #{or.empe}
                    td #{or.dep}
                    td #{or.create_time.getDate()} / #{or.create_time.getMonth()} / #{or.create_time.getFullYear()} 
                
                    td
                      p(data-placement='top', data-toggle='tooltip', title='إضافة سلعة')
                        button#item.btn.btn-success.btn-xs(href='#additem',role='button', data-title='Edit', data-toggle='modal',value="#{or.idorder} ", data-target='#additem', data-placement='top', rel='tooltip')
                          span.glyphicon.glyphicon-plus
                    td
                      p(data-placement='top', data-toggle='tooltip', title='تعـديل الطلبية')
                        button#editData.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal',value="#{or.idorder}", data-target='', data-placement='top', rel='tooltip')
                          span.glyphicon.glyphicon-eye-open
                    td 
                      p(data-placement='top', data-toggle='tooltip', title='عرض السلع ')
                        button#show.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal',value="#{or.idorder}", data-target='#edit', data-placement='top', rel='tooltip')
                          span.glyphicon.glyphicon-th

                    td  
                      if or.accepted == 1
                       p(data-placement='top', data-toggle='tooltip', title='إرجاع الطلبية ')
                          button#delete1.btn.btn-warning.btn-xs(href='#del',role='button', data-title='Edit', data-toggle='modal',value="#{or.idorder} ", data-target='#del', data-placement='top', rel='tooltip')
                            span.glyphicon.glyphicon-minus-sign
                      else
                       p(data-placement='top', data-toggle='tooltip', title='إلغـاء الطلبية')
                          button#delete2.btn.btn-danger.btn-xs(href='#back',role='button', data-title='Edit', data-toggle='modal',value="#{or.idorder} ", data-target='#back', data-placement='top', rel='tooltip')
                            span.glyphicon.glyphicon-trash
            if pagination 
              div.text-center
                ul.pagination
                  li(class='#{pagination.previous.disabled}')
                    a(href='?p=#{pagination.previous.n}') السابق
                  for page in pagination.pages
                    li(class="#{page.active}")
                      a(href='?p=#{page.n}') #{page.n}
                  li(class="#{pagination.next.disabled}")
                    a(href='?p=#{pagination.next.n}') التالي
   #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل حقا تريد إرجاع االطلبية ؟
        .modal-body
          p.h2 طلب مأكد
          p 
        .modal-footer
          button.btn.btn-success(type='button',data-dismiss='modal') الغاء
          button#confdelete.btn.btn-danger(data-dismiss='modal', type='button') إرجاع الطلبية
   #back.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-headr.modal-header-danger 
            p.h1 هل حقا تريد الغاء الطلبية ؟
          .modal-body
            p.h2 طلب غير مأكد 
            p 
          .modal-footer                                  
            button.btn.btn-success(type='button',data-dismiss='modal')  إلغاء
            button#confback.btn.btn-danger(data-dismiss='modal', type='button')  الغاء الطلبية
   #add.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
    .modal-dialog.modal-md
      .modal-content
        .modal-header.modal-header-success
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#exampleModalLabel.modal-title
            | إضافة قسم
        .modal-body
  #addorder.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
    .modal-dialog.modal-md
      .modal-content
        .modal-header.modal-header-success
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#exampleModalLabel.modal-title
            | إضاف طلب
        .modal-body
          div.panel-body
              form#form.form-signin(role="form" , action="/order/saved" , method="post")
                .row
                  .col-md-11
                    div.form.group
                      lable طلب القسم
                      font(size="4", color="black" , face="cursive" )
                        select.form-control#department(name ="department")
                          option(value="") طلب القسم
                          for empl in emp
                            option(value="#{empl.iddepartments}") #{empl.name} 
                .row
                  .col-md-6
                    div.form-group
                      lable طلب الموظف
                      p
                        select(name="employee",id="empl" , multiple='' style="width: 200px; height: 200px;") 
                  div.form-group.col-md-6
                    lable وصــف الطلب
                    textarea#textarea(name='te',style='width: 200px; height:200px',required title="عليك تعبئة الوصف لهذا الطلب",maxlength="25")         
                .row
                  .col-md-offset-4
                    div.form-group
                      button#save.btn.btn-md.btn-primary(type="submit" , style='width: 200px;') إضافة
   #additem.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
          .modal-dialog.modal-md
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h4#exampleModalLabel.modal-title
                  | إضـافة سلعة
              .modal-body
                div.panel-body
                    form#form.form-signin(role="form" , action="/order/saveItem" , method="post")
                        div.form-group
                          lable نوع السلعة 
                          select.form-control(id="iditem_type",name="iditem_type" )
                            option(value="-1") نوع السلعة
                              for d in ord
                                option(value="#{d.iditem_type}") #{d.type}
                        div.form-group
                          lable إسم السـلعة
                          font(size="4", color="black" , face="cursive" )
                            select.form-control#getiteme(name="getiteme" )           
                        div.form-group
                          lable المتــبقي لهذه السلعة
                          input#reminder.form-control(name="reminder",type='text', readonly )  
                          input#idorder.form-control(name="idorder",type='hidden' )
                        div.form-group
                        lable  عدد السلع
                         .input-group
                            span.input-group-btn
                              button.btn.btn-danger.btn-number(type='button', data-type='minus', data-field='quant[2]')
                                span.glyphicon.glyphicon-minus
                            input#itemCount.form-control.input-number(type='text', name='quant[2]', value='1', min='0' max='10000')
                            span.input-group-btn
                              button.btn.btn-success.btn-number(type='button', data-type='plus', data-field='quant[2]')
                                span.glyphicon.glyphicon-plus
                        p
                           div.form-group
                           p
                           lable وصف السلعة
                           p
                             // validation with jade
                             textarea(id='textar',name='textarea' ,style='width: 200px; height:200px' ,required title="عفوا عليك تعبئة الوصف لهذا الطلب")          
                          p          
                            div.form-group.text-left
                             button#saveItem.btn.btn-lg.btn-primary(type="submit" , style='width: 200px;') إضافة
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  //script(src="/javascripts/bootstrap-datetimepicker.fr.js")
  script(src="/javascripts/showOrder.js")

